# Core Web & Framework
Django==5.2.9
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-unfold

# Database & Production
dj-database-url
gunicorn
whitenoise
psycopg2-binary

# API Services & AI
google-generativeai
requests
pydantic

# Market Data Services (FastAPI)
fastapi
uvicorn
yfinance
mftool
pandas
numpy
beautifulsoup4
bs4
curl_cffi
matplotlib
reportlab